<mat-card class="cardWithShadow theme-card">
  <mat-card-header class="services-header">
    <mat-card-title class="m-b-0">Services</mat-card-title>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>
        <i-tabler name="dots" class="icon-20"></i-tabler>
      </mat-icon>
    </button>
  </mat-card-header>
  <div class="row" style="margin: 5px 0">
    <app-services-list
      *ngIf="services$ | async as services"
      [services]="services"
      />
  </div>
</mat-card>

<mat-menu #menu="matMenu" class="cardWithShadow">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
